@font-face {
  font-family: 'Spirax';
  font-style: normal;
  font-weight: 400;
  src: local('Spirax-Regular'), url(http://fontstatic.useso.com/s/spirax/v5/z6-p35VjWqOyUdWKJSzD1w.ttf) format('truetype');
}